<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>287256158978-2pv64m4q9e36o5j1r9sg3t97g15vbccc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.287256158978-2pv64m4q9e36o5j1r9sg3t97g15vbccc</string>
	<key>API_KEY</key>
	<string>AIzaSyBOP80r7S6LgdTMOU6G65n-W4QgaP__jXU</string>
	<key>GCM_SENDER_ID</key>
	<string>287256158978</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterProjectApp</string>
	<key>PROJECT_ID</key>
	<string>flutterproject-a67a7</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterproject-a67a7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:287256158978:ios:bb2e04e50d09089554581b</string>
</dict>
</plist>